html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
    background-image: url("../public/background.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}


